body {
    margin: 0;
  }
  
  header {
    /* Sets background color to dark blue. */
    background-color: #0B1C51;
    /* Adds 40 pixels of space under the header
       so that the main content isn't so close
       to the navigation. */
    margin-bottom: 40px;
  }
  
  header h1 {
    /* Sets text color to white. */
    color: #fff;
    /* Centers the text. */
    text-align: center;
    /* Removes the default margin and spacing around the `h1` element. */
    margin: 0;
    /* Pushes the text down 20 pixels from the top of the page. */
    padding-top: 20px;
  }

  header nav {
    /* Changes the display property from its default to `flex`. */
    display: flex;
    /* Centers an element defined as `display: flex`. */
    justify-content: center;
  }
  
  header nav ul {
    /* Changes the display property from its default to `flex`. */
    display: flex;
    /*
      You want the navigation to display in a single row. This is 
      the default value for `display: flex`, so you don't need
      to define its `flex-direction` in this case.
    */
  
    /*
      Removes the default padding to the left of the
      unordered list.
    */
    padding-left: 0;
  
    /*
      Removes the bullet points from the list items within the 
      unordered list.
    */
    list-style: none;
  }