body {
    margin: 0;
    font-family: Montserrat, sans-serif;    
  }
  
  header {
    background-color: #0B1C51;
    color: #fff; 
    margin-bottom: 40px;
  }
  
  header h1 {
    background-color: #0B1C51;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-size: 52px;
  }

  header nav {
    display: flex;
    justify-content: center;
    padding: 0 10px; /* Padding to avoid cutting off the first and last items */
    overflow-x: auto; /* Allow horizontal scrolling on small screens */
    }
  
  header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
  }

  header nav ul li {
    flex-shrink: 0; /* Prevent items from shrinking */
}

  header nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  header nav ul li:last-child a {
        margin-right: 0;
  }

  /* When a web browser is larger than 600 pixels,
   apply these rules. */
   @media all and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;    
    }
  
    header h1 {
        margin: 14px 0;
        padding-top: 0;
        font-size 48px;
    }
  
    header nav {
        margin-top: 8px;
        padding: 0; /* Remove additional padding for larger screens */
        overflow-x: visible; /* Disable horizontal scrolling for larger screens */
    }

    header nav ul li a {
        margin: 0 20px 0 0; /* Larger space between links */
      }
      
      header nav ul li:last-child a {
        /* Removes the margin to the right of the last anchor tag 
           so that the nav appears centered. */
        margin-right: 0;
      }

    header nav ul li a:hover {
      /* Targets the change when a user holds the pointer over the anchor tag 
         (link) within the list items within the unordered list that 
         is within the navigation that is within the header. */
      color: #bdbdbd;
    }
  }